body {
	
}
h2 {
	text-align: center;
}
table {margin: auto;margin-top:40px;
		width:550px; 
}

th {
	padding: 20px;width: 20%;
	background: #333; color: #fff;
}
th:last-child {background: #fff ;}
td {
	padding: 20px;background: #777;
}

#err {
	color: #f56642;
	font-weight: bold;
}

.btn {
	margin: 7px;background: #fff;
	cursor: pointer;
}
.join {text-decoration: none;color: none;border: 1px solid #111;}

/* Cart */
h1 {text-align: center;margin: auto;}

